.Img_zabawkowicz
    width: 240px
    max-width: 80%
    animation: zabawkowicz 2s 1s both


@keyframes zabawkowicz
    0%
        opacity: 0
        transform: scale(0)
    100%
        opacity: 1
        transform: scale(1)



